<ion-header>
    <ion-navbar>
        <ion-title>
            Pickup games
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-row class="rsvp-games">
        <span class="rsvp-games__next">find pickup games</span>
        <ion-item (click)="goToGame(games[0].id)" tappable class="rsvp-games__game">
            <ion-spinner class="spinner" icon="spiral" *ngIf="!games[0]"></ion-spinner>
            <span class="rsvp-games__game__time">{{games[0]?.datetime}}</span>
            <span class="rsvp-games__game__name">{{games[0]?.location.name}}</span>
            <span class="rsvp-games__game__location">{{games[0]?.location.address}}</span>
        </ion-item>
        <ion-item (click)="goToGame(games[1].id)" tappable class="rsvp-games__game">
            <ion-spinner class="spinner" icon="spiral" *ngIf="!games[1]"></ion-spinner>
            <span class="rsvp-games__game__time">{{games[1]?.datetime}}</span>
            <span class="rsvp-games__game__name">{{games[1]?.location.name}}</span>
            <span class="rsvp-games__game__location">{{games[1]?.location.address}}</span>
        </ion-item>
    </ion-row>

</ion-content>
