page-home {

    .game {

        &__item {

            &--address {

            }
        }
    }

    .rsvp-games {

        display: flex;
        position: relative;

        &__next {
            display: flex;
            justify-content: center;
            text-transform: uppercase;
            width: 100%;
            padding-top: 10pt;
            font-size: 2em;
        }

        &__status {
            display: flex;
            position: absolute;
            top: 10pt;
            right: 0;
            color: royalblue;
            text-transform: uppercase;
        }

        &__game {

            display: flex;

            .label {
                flex-direction: column;
            }

            &__time {
                display: flex;
                justify-content: center;
                text-transform: uppercase;
                width: 100%;
                font-size: 1em;
            }

            &__name {
                display: flex;
                justify-content: center;
                width: 100%;
                font-size: 1em;
                flex-wrap: wrap;
            }

            &__location {
                display: flex;
                justify-content: center;
                width: 100%;
                font-size: .8em;
                color: grey;
                flex-wrap: wrap;
            }
        }
    }

    .me {

        &__img {
            display: flex;
            height: 6em;
            border-radius: 50%;
        }

        &__name {
            display: flex;
            padding-left: 15pt;
        }
    }

    .rsvp {

        display: flex;
        justify-content: center;

        .label {
            justify-content: center;
        }

        &__count {
            color: royalblue;
            font-size: 4em;
        }

        &__text {
            text-transform: uppercase;
            line-height: 2em;
            padding-left: 5pt;
        }
    }

    .label {
        align-items: center;
        display: flex;
    }
}
