<ion-header>
    <ion-navbar>
        <ion-title>
            Game
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>


    <ion-row *ngIf="game?.players">
        <div class="status">
            <span class="status__title">I'm</span>
            <ion-list (ionChange)="statusChanged($event)" class="status__list" radio-group [(ngModel)]="rsvpStatus">
                <ion-item class="status__list__item">
                    <ion-label>In</ion-label>
                    <ion-radio value="1"></ion-radio>
                </ion-item>

                <ion-item>
                    <ion-label>Maybe</ion-label>
                    <ion-radio value="2"></ion-radio>
                </ion-item>

                <ion-item>
                    <ion-label>Out</ion-label>
                    <ion-radio value="0"></ion-radio>
                </ion-item>
            </ion-list>
        </div>
        <div class="when">
            <span class="when__title">When?</span>
            <span class="when__date">{{game?.datetime}}</span>

        </div>
        <div class="where">
            <span class="where__title">Where?</span>
            <span class="where__location" *ngIf="game?.location.name">{{game.location.name}}</span>
            <span class="where__address" *ngIf="game?.location.address">{{game.location.address}}</span>
        </div>
    </ion-row>

    <ion-row *ngIf="game?.players">
        <h4>Players</h4>

        <ion-item tappable class="player" *ngFor="let player of game?.players">
            <img class="player__img" src="{{player?.img}}" alt="avatar">
            <span class="player__name">{{player?.first_name}}</span>
            <span class="player__rsvp">{{player?.rsvp | rsvpStatus}}<ion-icon name="check"></ion-icon></span>
        </ion-item>
    </ion-row>

</ion-content>
