single-game {

    .label {
        display: inline-flex;
        align-items: center;
        overflow: visible;
    }

    .player {

        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        &__img {
            display: flex;
            height: 3em;
            width: 3em;
            border-radius: 50%;
            object-fit: cover;
        }

        &__name {
            padding-left: 10pt;
            display: flex;
        }

        &__rsvp {
            display: flex;
            flex-grow: 1;
            justify-content: flex-end;
            color: royalblue;
            text-transform: uppercase;
        }
    }

    .status {

        display: flex;
        width: 100%;
        align-items: center;

        &__title {
            font-size: 1.5em;
            font-weight: 700;
        }

        &__list {
            display: inline-flex;
            flex-grow: 1;
        }
    }

    .when {

        &__title {
            font-size: 1.5em;
            font-weight: 700;
        }
    }

    .where {

        &__title {
            font-size: 1.5em;
            font-weight: 700;
        }
    }

    .item-inner {
        border: none !important;
    }

    .list {
        margin: 0;

        &-ios .item-block .item-inner {
            display: flex;
            flex-grow: 1;
            overflow: visible;
        }
    }

    .list-ios > .item-block {
        border: none !important;
    }
}
