single-game-page {

    .label {
        display: inline-flex;
        align-items: center;
        overflow: visible;
    }

    .status {

        display: flex;
        width: 100%;
        align-items: center;

        &__title {
            font-size: 1.5em;
            font-weight: 700;
            display: inline-flex;
            flex-direction: column;
            width: 25%;
        }

        &__list {
            display: inline-flex;
            flex-grow: 1;
            width: 72%;

            &__item {

                &:first-of-type {
                    padding-left: 4px;
                }

                padding-left: 0;
                width: auto;
                min-height: inherit;
            }
        }
    }

    .when {

        &__title {
            font-size: 1.5em;
            font-weight: 700;
            display: inline-flex;
            flex-direction: column;
            width: 25%;
        }

        &__date {
            font-size: 1.5em;
            display: inline-flex;
            font-weight: 300;
            flex-direction: column;
            width: 72%;
        }
    }

    .where {

        &__title {
            font-size: 1.5em;
            font-weight: 700;
            display: inline-flex;
            flex-direction: column;
            width: 25%;
        }

        &__location {
            font-size: 1.5em;
            display: inline-flex;
            font-weight: 300;
            flex-direction: column;
            width: 72%;
        }
    }

    .item-inner {
        border: none !important;
    }

    .list {
        margin: 0;

        &-ios .item-block .item-inner {
            display: flex;
            flex-grow: 1;
            overflow: visible;
        }
    }

    .list-ios > .item-block {
        border: none !important;
    }

    .players-list {

        &__title {
            width: 100%;
        }
    }
}
