my-games-list {

    .card-md, .card-ios {
        margin: 0;
    }

    .addGame {
        position: absolute;
        right: 10pt;
        top: 50%;
        transform: translateY(-50%);
        font-size: 3em;
        color: royalblue;
    }
}
