<ion-header>
    <ion-navbar>
        <ion-title>Invitations</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-card *ngFor="let game of gamesInvitations" tappable class="game">
        <ion-row class="game__row">
            <span class="game__status">{{game?.rsvp | rsvpStatus}}</span>
            <span class="game__text game__text--header">{{game?.teams[0]?.name || 'Pickup game'}}</span>
        </ion-row>
        <ion-row>
            <span class="game__text">{{game?.datetime | date: 'EEEE hh:mm a'}}</span>
            <span class="game__text--small">{{game?.datetime | date: 'MMMM dd, y'}}</span>
        </ion-row>
        <ion-row>
            <span class="game__text">{{game?.location.name}}</span>
            <span class="game__text--small">{{game?.location.address}}</span>
        </ion-row>
        <ion-row class="declaration">
            <ion-item *ngFor="let status of [1,2,0]" (click)="updateRsvp(status, game)" tappable
                      class="declaration__option">
                {{ status | rsvpStatus }}
            </ion-item>
        </ion-row>
    </ion-card>
    <span class="no-more" *ngIf="gamesInvitations && gamesInvitations.length < 1">No more invitations for games</span>
</ion-content>
