game-invite {

    .declaration {

        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-wrap: nowrap;

        &__option {

            color: royalblue;
            display: flex;
            text-transform: uppercase;
            justify-content: center;
        }
    }
}
